* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
} */

header {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-bottom: 1px solid #e2e2e2;
  top: 0;
  position: sticky;
  box-shadow: rgba(0,0,0,0.08) 0 0 5px 1px;
  z-index: 5;
}

.nav-container {
  display: flex;  
  justify-content: space-between;
}
 
.nav-social {
  margin-left: 20px;
  display: flex;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
} 

i {
  margin-right: 22px;
  font-size: 14px;
}

.title {
  padding-top: 10px;
  font-size: 23px;
}

.nav-btn {
  padding-top: 5px;
  margin-right: 20px;
}   

.btn {
  background-color: rgb(86, 123, 149);
  color: #fff;
  border: 1px solid rgb(50, 104, 145);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.6s ease 0s;
  white-space: nowrap;
  vertical-align: middle;
}

main {
  max-width: 950px;
  margin: 0 auto;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  margin: 20px auto;
  font-size: 40px;
  width: 600px;
}

img {
  width: 100%;
}

figcaption {
  color: rgb(68, 68, 68);
  font-family: georgia,'times new roman',times,serif;
  text-align: left;
  width: 760px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.3rem;
}

figcaption a {
  color: #888;
  text-decoration: none;
  font-size: 14px;
}

.sub-main {
  max-width: 620px;
  margin: 20px auto;
  /* display: flex; */
}

.article-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* article {
  width: 70%;
} */

article h4 a {
  color: #333;
}

.article-header p {
  font-size: 15px;
}

.article-icon {
  background-color: #eee;
  border-radius: 50%;
  padding: 5px 7px;
  margin-right: 5px;
}

.article-icon-1 {
  font-size: 20px;
  margin-right: 5px;
}

article p {
  font-size: 21px;
  color: #333;
  line-height: 2rem;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  padding-bottom: 15px;
}

article a {
  color: #326891;
  text-decoration: underline;
}

.img-section {
  height: 100%;
  width: 100%;
}

.bottom-image {
  height: 600px;
}

.box {
  display: flex;
  position: absolute;
  top: 3080px;
}

.box-2 {
  display: flex;
  position: absolute;
  top: 3380px;
}

.box p {
  width: 220px;
  font-size: 12.5px;
  letter-spacing: 0.099rem;

}

.box-2 p {
  width: 220px;
  font-size: 12.5px;
  letter-spacing: 0.099rem;
}

.py-1 {
  margin-left: 20px;
  margin-right: 20px;
}

.py-2 {
  margin-right: 20px;
}

.bottom-img-span {
  color: #000;
  font-weight: 1000;
  font-size: 12px;

}

iframe {
  width: 600px;
  height: 319px;
} 

.iframe-caption {
  width: 500px;
  font-size: 15px;
  color: rgb(94, 92, 92);
}

span {
  color: #888;
}

.iframe-section {
  margin-bottom: 20px;
}

/* .img-caption span {
  color: #888;
  font-size: 13px;
} */

article img {
  margin-top: 30px;
}

.img-caption {
  width: 620px;
  font-size:16px;
  color: rgb(104, 103, 103);
}

.unlock {
  width: 80%;
  text-align: center;
  font-size: 17px;
  position: relative;
  left: 30%;
  margin-bottom: 20px;
  font-weight: 700;
}

.unlock-article {
  width: 45%;
}

aside {
  position: absolute;
  left: 450px;
  top: -90px;
  width: 250px;
}

aside h4 {
  margin-bottom: 3px;
  text-align: left;
}

aside .aside-content {
  display: flex;
  /* margin-top: 3px; */
}

.aside-2 {
  margin-bottom: -25px;
  margin-top: -25px;
}

aside .aside-content img {
  width: 50px;
  height: 50px;
}

aside .aside-content span {
  font-size: 12px;
  height: 50px;
  margin-top: 35px;
  color: #333;
  text-align: left;
  margin-left: 5px;
}

.unlock a {
  text-decoration: none;
}

.unlock hr {
  width: 80px;
  margin: 15px auto;
  color: #eee;
}

h2{
  margin-bottom: 15px;
}

footer {
  margin: 20px auto;
  max-width: 1200px;
  font-family: sans-serif;
}

footer hr {
  color: rgb(228, 220, 220);
}

footer .footer-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

footer .footer-header a {
  color: #326891;
  text-decoration: none;
  font-size: 12px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  /* margin-right: 30px; */
  margin-bottom: 10px;
}

.footer-content h5 {
  font-weight: 750;
}

ul {
  list-style: none;
  padding-top: 5px;
}

ul li {
  padding-top: 7px;
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}


.side-footer hr {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(245, 243, 243);
}

footer .side-footer .footer-icons {
  margin-bottom: 15px;
}

footer .side-footer .footer-icons a{
  font-size: 14px;
  font-weight: 800;
}

footer .side-footer .footer-icons i {
  margin-right: 10px;
  cursor: pointer;
}

.footer-side-bottom a {
  font-size: 11px;
}

.middle-hr {
  position: relative;
  left: 70%;
}

.footer-bottom{
  max-width: 1100px;
  margin: 10px auto 40px auto;
}

.footer-bottom a {
  padding-right: 12px;
  font-size: 11px;
  font-family: sans-serif;
}